# Node.js

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm install
  displayName: 'npm install'
  workingDirectory: 'braveNewCoin'

- script: |
    npm i jest-junit -S -E
  displayName: 'Install JestUnit'
  workingDirectory: 'braveNewCoin'

- task: CmdLine@2
  displayName: 'Run Test'
  inputs:
    script: 'npm test'
    workingDirectory: 'braveNewCoin'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    searchFolder: '$(System.DefaultWorkingDirectory)'
    testResultsFiles: '$(System.DefaultWorkingDirectory)/braveNewCoin/reports/junit.xml'
    testRunTitle: 'Publish Result'

- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: 'Sonar Cloud'
    organization: 'requenaivan'
    scannerMode: 'CLI'
    configMode: 'manual'
    cliProjectKey: 'requenaivan_sophosbravenewcoinback'
    cliProjectName: 'sophosbravenewcoinback'
    cliSources: 'braveNewCoin'