# Node.js
- task: AzureMysqlDeployment@1
  inputs:
    azureSubscription: 'Azure subscription 1(1)(4d528d26-1c9d-4b0b-a32e-aee685e835d2)'
    SqlUsername: 'usermysql'
    SqlPassword: 'Ijrm1121'

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm install
  displayName: 'npm install'
  workingDirectory: 'braveNewCoin'

- task: Npm@1
  inputs:
    command: custom
    customCommand: 'test --forceExit'
    workingDir: 'braveNewCoin'
  displayName: 'Run Test'
